body, html{
width:100%;
height:100%;
margin:auto;
background:#009688;
color:white;
font-family: 'Montserrat', sans-serif;
}
div{
  width:100%;
  height:100%;
  display:flex;
  flex-direction:column;
  justify-content:middle;
}
h2{
  margin:auto;
  font-size:5vw;
}

span{
  margin:auto;
  font-size:1.5vw;
}
